<h1><%= @admin.name %></h1>

<h4>Email</h4>
<p><%= @admin.email %></p>

<% unless current_admin == @admin %>
  <%= link_to 'Delete Admin', admin_path(@admin.id), method: :delete, data: {confirm: "Are you sure?"}  %>
<% end %>
<%= link_to 'Edit Admin', edit_admin_path(@admin.id) %>
