<div class="row">
  <div class="small-12 columns">

  <h1 class="underline">Search Results</h1>

  <% @results.each do |result| %>
    <%= link_to result.name, customer_path(result.id) %>
  <% end %>

  <br>
  
  <%= link_to 'Back to Customers', customers_path %>

  </div>
</div>
