<div class="row">
  <div class="small-12 columns">

  <h1 class="underline">Search Results</h1>

  <% @results.each do |result| %>
    <h4><%= link_to result.name, customer_path(result.id) %></h4>
  <% end %>

  <%= link_to 'Back to Customers', customers_path %>

  </div>
</div>
