<%= content_for :title, 'Blackbriar - Training Videos' %>

<div class="row">
  <div class="small-12 columns">
    <h1 class="underline">Training Videos</h1>
    <% @training_videos.each do |training_video| %>
      <h4><%=link_to training_video.title, training_video_path(training_video.id) %></h4>
    <% end %>
  </div>
</div>
