<h1>Customers</h1>

<ul>
  <% if current_user %>
    <% @customers.where(user_id: session[:user_id]).each do |customer| %>
      <li><%= link_to customer.name, customer_path(customer.id) %></li>
    <% end %>
  <% else %>
    <% @customers.each do |customer| %>
      <li><%= link_to customer.name, customer_path(customer.id) %></li>
    <% end %>
  <% end %>
</ul>
