<h1>Customers</h1>

  <% if current_user %>
    <% current_user.customers.each do |customer| %>
      <h4><%= link_to customer.name, customer_path(customer.id) %></h4>
      <p>Installed On: <%= customer.date_installed %></p>
    <% end %>
  <% else %>
    <% @customers.each do |customer| %>
      <h4><%= link_to customer.name, customer_path(customer.id) %></h4>
      <p>Installed On: <%= customer.date_installed %></p>
    <% end %>
  <% end %>
