/*

 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
   color: #999;
 }

input, textarea, select, label {
  max-width: 30em;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

.underline {
  border-bottom: 5px #ddd solid;
}

.italic {
  font-style: italic;
}
