/*

 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

input, textarea, select {
  max-width: 30em;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

h4 {
  font-weight: bold;
}

.underline {
  border-bottom: 2px #999 solid;
}

.italic {
  font-style: italic;
}
