// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  border: 1px #999 solid;
  background-color: #ddd;
  text-align: center;
}
